@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.cabecalho {
  display: flex;
  margin: 40px;
  justify-content: space-between;
}

.cabecalho img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}

.textos {
  align-self: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.texto-entrada {
  max-width: 40%;
}

.texto-entrada textarea {
  border: none;
  color: #0a3871;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.input-texto {
  margin-left: 80px;
  margin-top: 10px;
  max-width: 90%;
  height: 100%;
  font-size: 20px;
  outline: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
}

#output-texto {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 90%;
  height: 80.5%;
  width: 100%;
  font-size: 20px;
  outline: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
}

#texto-resultado {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  width: 100%;
  height: 560px;
  max-width: 400px;
  max-height: 900px;
  background: #ffffff;
  border: 3px solid black;
  border-radius: 32px;
  justify-content: center;
}

#texto-resultado p {
  font-size: 20px;
  background: #ffffff;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
}

img + p {
  font-weight: bold;
}

.imagem-search {
  background: #ffffff;
  width: 80%;
  margin: 10%;
  border-radius: 32px;
  justify-items: center;
}

.botoes {
  margin-left: 5%;
  margin-top: 1%;
  max-width: 390px;
  display: flex;
  justify-content: space-between;
}

#copiar {
  text-align: right;
  margin-top: 5px;
  margin-right: 203px;
}

.copiar {
  background-color: #0a3871;
  border-radius: 24px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  color: #ffffff;
  transition: 1s all;
  align-self: flex-end;
}

.copiar:hover {
  background: #0d468b;
  cursor: pointer;
}

.criptografia {
  background: #0a3871;
  border-radius: 24px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  color: #ffffff;
  transition: 1s all;
}

.criptografia:hover {
  background: #0d468b;
  cursor: pointer;
}

.descriptografia {
  margin-left: 1.5em;
  background: #d8dfe8;
  border-radius: 24px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  color: #0a3871;
  transition: 1s all;
}

.descriptografia:hover {
  background: #e7eef8;
  cursor: pointer;
}

footer {
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 0;
}

h4 {
  vertical-align: bottom;
}

.rodape h4 {
  display: block;
  text-align: center;
}

.imagens {
  text-align: center;
}

.imagens img {
  height: 25px;
  width: 25px;
  vertical-align: bottom;
}
