body {
  background: #e5e5e5;
}
main {
  max-width: max-content;
  max-height: max-content;
  display: flex;
}
section {
  margin: auto;
}
.logo {
  margin: 40px 84px 0px 84px;
}
.texto-entrada {
  margin: 168px auto 500px 240px;
}

#caixa-texto {
  width: 680px;
  height: 48px;
  font-size: 2em;
  background: #e5e5e5;
  border: none;
  color: #0a3871;
}

.botoes {
  width: 680px;
  margin-left: 240px;
}

.criptografia {
  font-family: 'Inter', sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  color: #ffffff;
  background: #0a3871;
  border-radius: 24px;
  padding: 24px;
  width: 320px;
  margin: 0 12px auto auto;
  height: 67px;
}

.descriptografia {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  padding: 24px;
  width: 320px;
  margin: 0 auto auto 24px;
  height: 67px;
}

.criptografia:hover {
  background: #0d4992;
  cursor: pointer;
}
.descriptografia:hover {
  background: #e4ebf5;
  cursor: pointer;
}

.texto-saida {
  position: absolute;
  margin-bottom: 30px;
  width: 400px;
  height: 845px;
  left: 1000px;
  top: 40px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 5px 5px 10px #7775755d;
}
.imagem-search {
  margin: 100px 32px 20px 32px;
}
.texto-saida p {
  margin: 40px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}
